<p style="padding-top: 6pt;text-align: center;">20240201 - JD - Title</p>
<p class="s1" style="padding-top: 6pt;text-align: center;">Owner: NDC</p>
<p style="text-align: left;">

</p>
<ol id="l1">
  <li data-list-text="1">
    <p style="padding-top: 4pt;padding-left: 26pt;text-indent: -21pt;text-align: left;">
      Overview
    </p>
    <p style="text-align: left;">
    </p>
    <table style="border-collapse:collapse;margin-left:9.5pt" cellspacing="0">
      <tr style="height:32pt">
        <td
          style="width:140pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p style="text-align: left;">

          </p>
        </td>
        <td
          style="width:148pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
          bgcolor="#BFBFBF">
          <p style="text-align: left;">

          </p>
          <p class="s2" style="padding-left: 55pt;padding-right: 55pt;text-align: center;">Started</p>
        </td>
        <td
          style="width:149pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
          bgcolor="#BFBFBF">
          <p style="text-align: left;">

          </p>
          <p class="s2" style="padding-left: 58pt;padding-right: 57pt;text-align: center;">Ended</p>
        </td>
        <td
          style="width:58pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
          bgcolor="#BFBFBF">
          <p class="s2"
             style="padding-left: 8pt;padding-right: 7pt;line-height: 15pt;text-align: left;">
            Duration (hh:mm)</p>
        </td>
      </tr>
      <tr style="height:17pt">
        <td
          style="width:140pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
          bgcolor="#BFBFBF">
          <p class="s2"
             style="padding-top: 2pt;padding-left: 29pt;text-align: left;">Date/Time
            of Incident:</p>
        </td>
        <td
          style="width:148pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p style="text-align: left;">

          </p>
        </td>
        <td
          style="width:149pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p style="text-align: left;">

          </p>
        </td>
        <td
          style="width:58pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p style="text-align: left;">

          </p>
        </td>
      </tr>
    </table>
    <p style="text-align: left;">

    </p>
  </li>
  <li data-list-text="2">
    <p
      style="padding-top: 4pt;padding-bottom: 2pt;padding-left: 26pt;text-indent: -21pt;text-align: left;">Report
      Detail</p>
  </li>
</ol>
<table style="border-collapse:collapse;margin-left:10.5pt" cellspacing="0">
  <tr style="height:17pt">
    <td
      style="width:138pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="2" bgcolor="#BFBFBF">
      <p class="s2"
         style="padding-top: 3pt;padding-left: 5pt;text-align: left;">
        Jurisdiction:</p>
    </td>
    <td
      style="width:359pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">
        {{ jurisdiction() }}
      </p>
    </td>
  </tr>
  <tr style="height:18pt">
    <td
      style="width:138pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="2" bgcolor="#BFBFBF">
      <p class="s2"
         style="padding-top: 3pt;padding-left: 5pt;text-align: left;">
        SYSCON Level:</p>
    </td>
    <td
      style="width:359pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:28pt">
    <td
      style="width:138pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="2" bgcolor="#BFBFBF">
      <p class="s2"
         style="padding-top: 2pt;padding-left: 5pt;padding-right: 47pt;text-align: left;">
        SYSCON Incident Number:</p>
    </td>
    <td
      style="width:359pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:18pt">
    <td
      style="width:138pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="2" bgcolor="#BFBFBF">
      <p class="s2"
         style="padding-top: 3pt;padding-left: 5pt;text-align: left;">NDC
        Operations Manager:</p>
    </td>
    <td
      style="width:359pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:497pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="3" bgcolor="#CCCCCC">
      <p class="s2"
         style="padding-top: 2pt;padding-left: 174pt;padding-right: 173pt;text-align: center;">
        Component(s) Affected</p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:351pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="2" bgcolor="#CCCCCC">
      <p class="s2"
         style="padding-top: 3pt;padding-left: 156pt;padding-right: 156pt;text-align: center;">
        System</p>
    </td>
    <td
      style="width:146pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      bgcolor="#CCCCCC">
      <p class="s2"
         style="padding-top: 3pt;padding-left: 53pt;padding-right: 53pt;text-align: center;">
        Version</p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:351pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="2">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:146pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:497pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="3" bgcolor="#BFBFBF">
      <p class="s2"
         style="padding-top: 3pt;padding-left: 174pt;padding-right: 173pt;text-align: center;">
        Business/Player Impact</p>
    </td>
  </tr>
  <tr style="height:29pt">
    <td
      style="width:497pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="3">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:497pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="3" bgcolor="#BFBFBF">
      <p class="s2"
         style="padding-top: 3pt;padding-left: 174pt;padding-right: 173pt;text-align: center;">
        SYSCON Incident Participation</p>
    </td>
  </tr>
  <tr style="height:32pt">
    <td
      style="width:356pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="2" bgcolor="#BFBFBF">
      <p style="text-align: left;">

      </p>
      <p class="s2" style="padding-left: 163pt;padding-right: 162pt;text-align: center;">Name</p>
    </td>
    <td
      style="width:141pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      bgcolor="#BFBFBF">
      <p class="s2"
         style="padding-left: 25pt;padding-right: 24pt;text-indent: 20pt;line-height: 15pt;text-align: left;">
        Date/Time (mm/dd/yy hh:mm)</p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:117pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      bgcolor="#BFBFBF">
      <p class="s2" style="padding-top: 3pt;padding-left: 5pt;text-align: left;">
        Recorded By:</p>
    </td>
    <td
      style="width:239pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:141pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:117pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      bgcolor="#BFBFBF">
      <p class="s2" style="padding-top: 3pt;padding-left: 5pt;text-align: left;">NDC
        OPS Manager:</p>
    </td>
    <td
      style="width:239pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:141pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:117pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      bgcolor="#BFBFBF">
      <p class="s2" style="padding-top: 3pt;padding-left: 5pt;text-align: left;">
        Development:</p>
    </td>
    <td
      style="width:239pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:141pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:18pt">
    <td
      style="width:117pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      bgcolor="#BFBFBF">
      <p class="s2" style="padding-top: 3pt;padding-left: 5pt;text-align: left;">Corp
        Ops Support:</p>
    </td>
    <td
      style="width:239pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:141pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:117pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      bgcolor="#BFBFBF">
      <p class="s2" style="padding-top: 3pt;padding-left: 5pt;text-align: left;">
        General Manager:</p>
    </td>
    <td
      style="width:239pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:141pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:117pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      bgcolor="#BFBFBF">
      <p class="s2" style="padding-top: 3pt;padding-left: 5pt;text-align: left;">Site
        OPS Manager:</p>
    </td>
    <td
      style="width:239pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:141pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:117pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      bgcolor="#BFBFBF">
      <p class="s2" style="padding-top: 3pt;padding-left: 5pt;text-align: left;">
        Other:</p>
    </td>
    <td
      style="width:239pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:141pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
</table>
<p style="text-align: left;">

</p>
<table style="border-collapse:collapse;margin-left:10.5pt" cellspacing="0">
  <tr style="height:18pt">
    <td
      style="width:496pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="3" bgcolor="#BFBFBF">
      <p class="s2"
         style="padding-top: 3pt;padding-left: 186pt;padding-right: 186pt;text-align: center;">
        Incident Summary</p>
    </td>
  </tr>
  <tr style="height:26pt">
    <td
      style="width:496pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="3">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:496pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="3" bgcolor="#BFBFBF">
      <p class="s2"
         style="padding-top: 2pt;padding-left: 186pt;padding-right: 186pt;text-align: center;">
        Incident Timeline</p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:130pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      bgcolor="#BFBFBF">
      <p class="s2" style="padding-top: 3pt;padding-left: 39pt;text-align: left;">
        Date/Time:</p>
    </td>
    <td
      style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      bgcolor="#BFBFBF">
      <p class="s2" style="padding-top: 3pt;padding-left: 24pt;text-align: left;">
        System</p>
    </td>
    <td
      style="width:281pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      bgcolor="#BFBFBF">
      <p class="s2"
         style="padding-top: 3pt;padding-left: 112pt;padding-right: 112pt;text-align: center;">
        Error/Event</p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:130pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:281pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:18pt">
    <td
      style="width:130pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:281pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:130pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:281pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:130pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:281pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:130pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
    <td
      style="width:281pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:18pt">
    <td
      style="width:496pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="3" bgcolor="#BFBFBF">
      <p class="s2"
         style="padding-top: 3pt;padding-left: 186pt;padding-right: 186pt;text-align: center;">
        Corrective Action Taken</p>
    </td>
  </tr>
  <tr style="height:35pt">
    <td
      style="width:496pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="3">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
  <tr style="height:17pt">
    <td
      style="width:496pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="3" bgcolor="#BFBFBF">
      <p class="s2"
         style="padding-top: 2pt;padding-left: 186pt;padding-right: 186pt;text-align: center;">
        Follow Up Action Needed</p>
    </td>
  </tr>
  <tr style="height:26pt">
    <td
      style="width:496pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
      colspan="3">
      <p style="text-align: left;">

      </p>
    </td>
  </tr>
</table>
